@mixin display-flex(){
    display:-webkit-box;
    display:-webkit-flex;
    display:-webkit-flexbox;
    display: flex;
}

@mixin flex-wrap(){
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
@mixin border-radius($value){
    -webkit-border-radius: $value;
    -moz-border-radius: $value;
    border-radius: $value;
}
@mixin position-absolute($position, $x, $y){
    position: absolute;
    @if($position == "top-left"){
        top: $x;
        left: $y;
    }
    @else if($position == "top-right"){
        top: $x;
        right: $y;
    }
    @else if($position == "left-bottom"){
        left: $x;
        bottom: $y;
    }
    @else{
        right: $x;
        bottom: $y;
    }
}