* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
.header {
  background-color: orange;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  &__logo a{
    font-weight: 700;
    font-size: 32px;
    margin: 0 30px;
    color: #fff;
    text-decoration: none;
  }
  &__menu {
    list-style: none;
    display: flex;
    a {
      font-size: 18px;
      padding: 10px 30px;
      font-weight: 600;
      margin: 0 5px;
      color: #fff;
      text-decoration: none;
    }
    a:hover {
      background-color: orangered;
      border-radius: 5px;
      cursor: pointer;
    }
  }
  &__item{
    &--hidden{
      display: none;
    }
  }
  &__login {
    list-style: none;
    display: flex;
    a {
      font-size: 18px;
      padding: 5px;
      font-weight: 600;
      margin: 0 5px;
      color: #fff;
      text-decoration: none;
    }
  }
}

.main {
  padding: 30px 40px;
  flex: 1;
  div {
    margin-bottom: 10px;
  }
}
.footer {
  background-color: orangered;
  padding: 15px 0;
  color: #fff;
  text-align: center;
  width: 100%;
}
.layout-default {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.login {
  width: 500px;
  border: 1px solid orange;
  margin: auto;
  padding: 20px;
  &__title {
    color: gray;
  }
  &__form {
    display: flex;
    flex-direction: column;
    &-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 10px;
      input {
        width: 350px;
        padding: 10px;
      }
    }
    tr td:last-child::before{
      content: ":";
      padding-right: 10px;
    }
  }
  &__submit {
    background-color: orange;
    border: none;
    border-radius: 25px;
    padding: 10px;
    color: #fff;
    font-size: 18px;
    margin: 15px auto;
    width: 30%;
  }
}

.register {
  width: 500px;
  border: 1px solid orange;
  margin: auto;
  padding: 20px;
  &__title {
    color: gray;
  }
  &__form {
    display: flex;
    flex-direction: column;
    &-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 10px;
      input {
        width: 350px;
        padding: 10px;
      }
    }
    tr td:last-child::before{
      content: ":";
      padding-right: 10px;
    }
  }
  &__submit {
    background-color: orange;
    border: none;
    border-radius: 20px;
    padding: 10px;
    color: #fff;
    font-size: 18px;
    margin: 15px auto;
    width: 30%;
  }
}

